<h1><%= @person.first_name %></h1>
<h4><%= @person.last_name %></h4>
<p>age: <%= @person.age %><p>
<p>hair color: <%= @person.hair_color %><p>
<p>eye color: <%= @person.eye_color %><p>
<p>gender: <%= @person.gender %><p>
<p>alive: <%= @person.alive %><p>
<%= link_to "Back", people_path %>
